/* .gallery-container{
    margin-top: -100px;
} */

.gallery {
    margin: 60px 90px;
    display: grid;
    gap: 50px 50px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* display: block; */

}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: opacity 0.5s;
}

.header-gallery{
    padding-left: 0px;
    height: 100px;
    color: #ff7f00;
    margin-top: 2px;
    flex-wrap: wrap;

}

.search-words{
    border-radius: 10px;
    height: 37px;
    width: 463px;
    border-color: #ff7f00;
    text-align: center;
    margin-left: 33px;
}

.key-words{
    padding-left: 0px;
}

.word{
    margin-inline-start:20px;
    cursor:pointer;
}

.gallery img:hover {
    cursor: pointer;
    opacity: 0.5;

}


.pic-filter {
    padding-left: 10px;
    margin-top: -20px;
    width: 328px;
    height: 67px;
    display: flex;
    align-items: center;
}

.footer{
    margin-top: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    background-color: #ff7f00f2;
    color: white;
}


.memes-gallery {
    margin: 60px 90px;
    display: grid;
    gap: 50px 50px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* display: block; */
}

/* BREAKPOINT */
/* LARGE */
@media(minwidth:1100px){
    .header-gallery{
        padding-left: 20px;
    }

    .key-words{
        padding-left: 70px;
    }

}