.gallery-container{
    margin-top: 160px;
}

.gallery {
    margin: 60px 90px;
    display: grid;
    gap: 50px 50px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* display: block; */

}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: opacity 0.5s;
}

.header-gallery{
    padding-left: 0px;
    height: 100px;
    color: #ff7f00;
    margin-top: 30px;
    flex-wrap: wrap;

}

.search-words{
    border-radius: 10px;
    height: 37px;
    width: 463px;
    border-color: #ff7f00;
    text-align: center;
    margin-left: 33px;
}

.key-words{
    margin-top: 20px;
    padding-left: 0px;
    display:flex;
    flex-wrap: wrap;
}

.word{
    margin-inline-start:20px;
    cursor:pointer;
}

.gallery img:hover {
    cursor: pointer;
    opacity: 0.5;

}


.pic-filter {
    padding-left: 10px;
    margin-top: -20px;
    width: 328px;
    height: 67px;
    display: flex;
    align-items: center;
}

.footer{
    margin-top: 17px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    background-color: #ff7f00f2;
    color: white;
}


.memes-gallery {
    margin: 60px 90px;
    display: grid;
    gap: 50px 50px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* display: block; */
}

.about-me{
    margin-top: 107px;
}
.my-foto{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-left: 157px;
}

.about-me-p{
    margin-top: 81px;
    margin-left: 50px;
}

/* BREAKPOINT */
/* LARGE */
@media(min-width:550px){
    .header-gallery{
        padding-left: 20px;
        margin-top: 50px;
    }
    .key-words{
        padding-left: 70px;
        margin-top: -5px;
        display:flex;
        flex-wrap: wrap;
    }

    .gallery-container{
        margin-top: 50px;
    }

    pic-filter {
        padding-left: 10px;
        margin-top: -40px;
        width: 328px;
        height: 67px;
        display: flex;
        align-items: center;
    }
    

}

@media(min-width:950px){

    .key-words{
        padding-left: 70px;
        margin-top: 0px;
        display:flex;
        flex-wrap: wrap;
    }
}